<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=CAPR0\PLUTOSQL;Initial Catalog=P212DbLab;Integrated Security=true" 
         providerName="System.Data.SQLClient" name="QAYA"/>
    <add connectionString="Data Source=CAPR0\PLUTOSQL;Initial Catalog=RegisterDb;Integrated Security=true"
     providerName="System.Data.SQLClient" name="myDb"/>
  </connectionStrings>
  <appSettings>
    <add key="name" value="Admin"/>
    <add key="surname" value="Adminov"/>
    <add key="pass" value="1234"/>
    <add key="email" value="admin@gmail.com"/>
  </appSettings>
</configuration>